.pedidos {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pedidos .controles {
  position: fixed;
  width: 80%;
  z-index: 1;
  background: #fff;
}
.pedidos .controles input[type="text"] {
  max-width: 50%;
  padding: 0.5em;
  font-weight: 500;
}

.pedidos .controles .btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: black;
  background: #fff;
  border: 1px solid black;
  transition: 0.3s ease all;
  border-radius: 0.2em;
  max-width: fit-content;
}
.pedidos .controles .btn:hover {
  color: #fff;
  background: black;
}

/* Contenedores de la tabla */

.contenedor-tabla {
  margin: 5em auto 3em auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-tabla .contenedor-cliente {
  width: 80%;
  height: 2em;
  margin-top: 2em;
}
.spin {
  margin-top: 10em;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #484848;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
/* Tabla */

.tabla.tabla-pedidos {
  max-width: 100%;
  margin-top: 0;
}
.tabla-pedidos thead th {
  min-width: 10%;
}

.tabla-pedidos tbody td.producto {
  cursor: initial !important;
}

.tabla-pedidos tbody td.cantidad-preparar {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.tabla-pedidos tbody td.cantidad-preparar input[type="number"] {
  width: 100px;
}

.tabla-pedidos tbody td.cantidad-preparar .fa-check-square {
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #cf963c;
}

.tabla.tabla-pedidos thead tr th:nth-child(2),
.tabla.tabla-pedidos tbody tr td:nth-child(2) {
  text-align: left;
  position: inherit;
}

.tabla.tabla-pedidos thead tr th.header-cliente {
  text-align: left;
  border-bottom: 1px solid #999;
}

/* Querys */

@media (max-width: 700px) {
  .contenedor-tabla .contenedor-cliente {
    width: 100%;
  }
  .contenedor-tabla {
    overflow-x: auto;
    width: 100vw;
  }
  .pedidos .controles {
    position: inherit;
    margin-left: auto;
  }
  .pedidos .controles div {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .tabla-pedidos tbody td.cantidad-preparar input[type="number"] {
    margin: 1em auto;
    padding: 2px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
